<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'loginhome/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'loginhome/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'loginhome/css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'loginhome/css/style.css' %}">

    <title>Login #6</title>
  </head>
  <body>


  <div class="d-lg-flex half">
    {% block content %}

  {% endblock content %}

  </div>



    <script src="{% static 'loginhome/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'loginhome/js/popper.min.js' %}"></script>
    <script src="{% static 'loginhome/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'loginhome/js/main.js' %}"></script>

  </body>
</html>
