<!DOCTYPE html>
{% extends 'adminheader.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
{% block content %}
<form id="f3" method="post" >
<table class="table table-striped">
    <H3>UPDATE COUNTRY</H3>
      {% csrf_token %}



      {{ f3.as_table }}
    <tr>
        <td></td>
         <td>   <input type="submit" value="update"></td>
    </tr>
   </table>

</form>
{% endblock content %}
</body>
</html>
